<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% set image = content.field_image[0] %}
  {% include directory ~ '/components/side_image/side_image.twig' %}
</div>
