
<div id="dismissible-container"></div>
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Gourmet au Catering</a>
    {{ page.menu }}
  </div>
</div>
<div class="w3-display-container w3-content w3-wide franchises-below-sticky">
  {% set tabs = page.tabs %}
  {% include directory ~ '/components/tabs/tabs.html.twig' %}
  {{ page.content }}
</div>
<div>
  <header role="banner">
  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div data-drupal-messages-fallback="" class="hidden"></div>
      <div class="w3-content">
        <div class="layout-container">
          <header role="banner">
            {{ page.header }}
          </header>
          {{ page.primary_menu }}
          {{ page.secondary_menu }}
          {{ page.breadcrumb }}
          {{ page.highlighted }}
          {{ page.help }}
          <main role="main">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
            <div class="layout-content">
            </div>{# /.layout-content #}
            {% if page.sidebar_first %}
              <aside class="layout-sidebar-first" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            {% endif %}
            {% if page.sidebar_second %}
              <aside class="layout-sidebar-second" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            {% endif %}
          </main>
          {% if page.footer %}
            <footer role="contentinfo">
              {{ page.footer }}
            </footer>
          {% endif %}
        </div>{# /.layout-container #}
      </div>
      <footer class="w3-center w3-light-grey w3-padding-32">
        <p>Powered by <a href="default.html" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a> | <a href="/admin" title="admin" class="w3-hover-text-green">admin</a></p>
      </footer>
    </div>
  </main>
</div>
